footer {
  background-color: rgb(60, 60, 60);
  display: flex;
  flex-direction: column;
  color: white;
  width: 100% !important;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
}

.footer-util > ul {
  list-style: none;
  margin-top: 15px;
  width: 1200px;
}

.footer-util > ul > li {
  float: left;
}

.footer-util a {
  margin: 10px;
  color: white;
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.footer-info {
  margin: 10px;
  border-top: 1px solid white;
  font-size: 12px;
  padding: 10px;
  width: 1200px;
  line-height: 20px;
}
