@import url("../main/header.css");
@import url("../main/footer.css");

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  width: inherit;
  height: inherit;
}

.menu-intro {
  display: flex;
  justify-content: flex-start;
  width: 1200px;
  margin: 50px 0;
}

.menu-intro > span {
  font-size: 25px;
  font-weight: bold;
}

li {
  list-style: none;
}
.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}
.con {
  max-width: 1200px;
  margin: 0 auto;
}

.article-board-box {
  position: relative;
}
.slide_wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 250px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.5s ease-out;
}

.slides li:not(:last-child) {
  justify-content: flex-start;
  margin-right: 30px;
}

.controls {
  text-align: center;
}

.controls span {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.controls > .prev {
  right: calc(100% - 40px);
  background-color: #17633d;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
  z-index: 100;
}

.controls > .next {
  left: calc(100% - 40px);
  background-color: #17633d;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
  z-index: 100;
}

.ha {
  width: 50px;
}
