main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    min-height: 100vh;
    padding: 50px;
}

main>div{
    width: 1200px;
}

.menu-m-tit {
    min-height: 50px;
    border-bottom: 3px solid #17633d;
    font-size: 1.5em;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
}

.chart-container-1{
    display: flex;
    width: 1200px;
    height: 500px;

    margin-top: 30px;
}

.chart-container-2{
    display: flex;
    width: 1200px;
    height: 500px;

    justify-content: center;
    margin-top: 30px;
}

