/* *{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

main{
    width: 100%;
}
body{
    margin: auto;
    padding: 0;
}


#main-title{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
    /* font-weight: 7000; */
}

#main-content{
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'ea' !important;
    color: #17633D;
    font-style: normal;
    font-size: 40px;
}

#main-content > em{
    font-style: normal;
    color: #62ce08;
    margin-left: 2px;
    margin-right: 2px;
    font-family: 'janda' !important;
}

#main-detail{
    /* color: #292929; */
    font-size: 18px;
    margin-top: 18px;
}

ul{
    list-style: none;
    display: block;
    /* align-items: center; */
    margin: 0;
    padding: 0;
}

.package-list{
    height: 480px;
    padding-bottom: 70px;
    background-color: #dddddd;
    /* background-color: #17633D; */
    position: relative;
}

.package-box{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    padding: 60px 0 0;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

#package-img{
    width: 600px;
    height: 420px;
}

.package-name{
    /* text-align: center; */
    /* display: flex; */
    right: 600px;
    /* position: absolute; */
    margin-top: 90px;
    margin-left: 100px;
}

.package-title{
    /* display: flex; */
    margin-left: 35px;
    font-size: 40px;
    /* font-weight: bold; */
    font-family: 'chunk' !important;
    width: auto;
    white-space:nowrap;
}

.package-detail{
    color: #292929;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.04em;
    margin-top: 28px;
}

#second-box{
}

#second-name{
    margin-left: 0;
    margin-right: 100px;
    left: 600px;
}

.package-list:nth-child(even){
    background-color: #fff;
}

.package-list::after{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 130px;
}

#second-img{
    float: right;
    width: 600px;
    height: 420px;
    background-image: url(/resources/images/package/1weekSample.png);
}

#second-list{
    background-color: #fff;
}

#second-list::after{
    /* background-color: #17633D; */
    background-color: #dddddd;
}

ul>a{
    text-decoration: none;
    color: #292929;
}

.package-ol li:nth-child(odd)::after{
    display: block;
    background-color: #fff;
    /* background-color: #17633D; */
}

.package-ol li:nth-child(even)::after{
    background-color: #f5f5f5;
    /* background-color: #17633D; */
    display: block;
}

.package-list:hover {
    transform: scale(1.1);
    transition-duration: 1s;
  
}

.package{
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 1200px;
    display: flex;
    height: 30px;
    font-size: 15px;
}

#one-week{
    background-color: #17633D;
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    top: 25px;
}

#one-week > a{
    display: block;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin-top: 5px;
    height: 100%;
    cursor: default;
}

#two-week{
    /* background-color: #17633D; */
    border: solid 1px #dddddd;
    width: 50%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    top: 25px;
    border-top: none;
}

#two-week > a{
    display: block;
    justify-content: center;
    text-decoration: none;
    margin-top: 5px;
    color: black;
    height: 100%;
}

li {
    list-style: none;
  }
  .kind_wrap {
    border:2px solid black; 
    width:100%; 
    max-width:800px; 
    margin:0 auto; 
    position: relative;
  }
  .kind_wrap > .kind_slider {
    overflow: hidden;
  }
  .kind_wrap > .kind_slider .slider { 
    position: relative; 
    transition: 0.5s;
  }
  .kind_wrap > .kind_slider .slider li {
    float:left;
  }
  .kind_wrap > .kind_slider img {
    vertical-align: top;
  }
  .kind_wrap .arrow > a.prev {
    position: absolute; 
    left:-50px; 
    top:100px;
  }
  .kind_wrap .arrow > a.next {
    position: absolute; 
    right:-50px; 
    top:100px;
  }