
/* 폰트 적용 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'SUIT-Regular';
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    margin-top: 80px;
}

/* 아이디 비번 찾기 헤더 */
.logo-box {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

/* 로고 */
.logo{
    width: 180px;
    height: 120px;
}


.header {
    font-size: 22px;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
}

.content {
	display: flex;
    flex-direction: column;
}

.result-box {
    width: 600px;
    font-size: 26px;
    margin-bottom: 30px;
    padding: 30px;
    font-weight: bold;
    background-color: #f2f2f2;
    border-radius: 10px;
    
}

.btn-box {
	display: flex;
	justify-content: space-between;
}

.btn1 {
    cursor: pointer;
    display: inline-block;
    width: 180px;
    border : none;
    border-radius: 5px;
    background-color: #17633d ;
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 13px 0px;
}

.btn2 {
    cursor: pointer;
    display: inline-block;
    width: 180px;
    border : none;
    border-radius: 5px;
    background-color: #17633d ;
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 13px 0px;
    
}


a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
}


