

/* 폰트 적용 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* main */
main {
	font-family: 'SUIT-Regular';
    /* width: 1200px; */
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    height: auto;
}

/*input 폰트*/
input {
	font-family: 'SUIT-Regular';
}

/*버튼 폰트*/
button {
	font-family: 'SUIT-Regular';
}

/* 회원가입 타이틀*/
.signUp-header {
    margin: 40px 0;
    width: 100%;
    height: auto;
    text-align: center;
}

/* 로고사이즈 */
.signUp-header > img{
    width: 160px;
    height: 100px;
}


.signUp-content {
    display: flex;
    justify-content: center;
    height: auto;
}
#signUp-frm {
    margin-top: 30px;
}
#signUp-frm > label {
    display: block;
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
}
.signUp-frm > span {
    display: block;
    height: 20px;
}

/********************* 약관 동의 *********************/
.agree-area {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.agree-label {
    width: 100%;
    margin-top: 20px;
}

.agree-label input {
    width:18px;
    height: 18px;
}

.agree-label a { 
    color: #000;
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
}

/*input id=agree1 체크박스*/
#agree1 {
    margin-left: 411px;
}

#agree2 {
    margin-left: 330px;
}



/***************************************************************************/


/* 필수 작성 */
.required {
    color: red;
    padding: 0 5px;
}

/* input 태그를 감싸고 있는 div 태그 */
.signUp-input-area {
    width: 650px;
    min-height: 50px;
    display: flex;
    align-items: center;
    
}

.signUp-input-area > input {
    width: 70%;
    height: 100%;
    padding: 15px 10px 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    border-bottom: 2px solid #ddd;
    margin-right : 25px;
}

.signUp-input-area > input:focus {
    border-bottom: 2px solid #17633d;
}

.signUp-input-area > button {
    width: 23%;
    padding: 15px;
    height: 100%;
    background-color: white;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
}

.signUp-input-area > button:hover {
    border-color: #17633d;
}



/* 입력 관련 메세지 */
.signUp-message {
    font-size: 14px;
    letter-spacing: -1px;
}

.confirm { color: green; }
.error {color : red;}

/* 회원 가입 버튼 */
#signUp-btn {
    width: 100%;
    padding: 10px;
    margin: 50px 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #17633d;
    cursor: pointer;
    border: none;
    border-radius: 5px ;
}

#signUp-btn:active {
    transform: scale(0.99);
}