main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    min-height: 200vh;
    /* padding: 50px; */
}

main>div{
    width: 1200px;
}

.menu-m-tit {
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 3px solid #17633d;
}

.menu-m-tit span {
    font-weight: bold;
    display: flex;
}

.tit {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;  
}

.tit span {
    font-size: 12px;
    font-weight: bold;
    margin: auto 0;
    height: 35px;
    align-items: center;
}

.chart-container-1{
    display: flex;
    width: 1200px;
    height: 100%;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 20px;
}

.chart-container-1>span{
    padding: 10px;
    background-color: #17633d;
    border-radius: 15px;

    width: 90%;

    font-size: 18px;
    font-weight: bold;

    text-align: center;
    color: white;
    
    margin-bottom: 10px;
}

.chart-container-2{
    display: flex;
    width: 1200px;

    flex-direction: column;
    margin-top: 20px;
}

.chart-order-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chart-order{
    display: flex;
    flex-basis: 49%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
    border-radius: 15px;    

    padding: 20px;
}

.chart-order>span{
    padding: 10px;
    background-color: #17633d;
    border-radius: 15px;

    width: 90%;
    margin-bottom: 15px;

    font-size: 18px;
    font-weight: bold;

    text-align: center;
    color: white;
}

table {
    width: 100%;
    padding: 10px;
    /* border: 1px solid #bbb; */
}

table th {
    border: 1px solid #bbb;
    background-color: #f1f2f1;
    height: 30px;
    border: 1px solid #bbb;
}

table td {
    border-bottom: 1px solid #bbb;
    height: 40px;
    text-align: center;
    border: 1px solid #bbb;
}
