body > div {
    width: 1200px;
}

hr {
    margin: 10px 0;
}

.admin-order-title {
margin-top: 30px;
padding-bottom: 15px;
border-bottom: 3px solid #17633d;
}

.admin-order-title > span:first-child {
font-weight: bold;
display: flex;
}

.admin-order-title > span:last-child {
font-size: 12px;
font-weight: bold;
}

.admin-order-table{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}
/* .admin-order-thead > th{
    color: #4e4e4e;
} */

/* 테이블 내용 */
td{
    border-bottom: 1px solid #f2f2f2;
    height: 40px;
    text-align: center;
}


thead th {
    padding: 2px;
    border: 1px solid #ddd;
    background-color: #f1f2f1;
    height: 30px;
}


/* 페이지네이션 */
.pagination {
    margin: 50px auto;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 13px;
}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
    letter-spacing: -2px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* 현재 페이지 번호 */
.pagination .current{
    color: #17633d;
    font-weight: bold;
}

/* 행 클릭시 주문 상세 페이지로 이동 */
.admin-order-click{
    cursor: pointer;
}

.admin-order-click:hover{
    background-color: #17633d93;
    color: white;
}

/* 주문상태 검색 영역 */
.tit {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;  
}

.tit span {
    font-size: 12px;
    font-weight: bold;
    margin: auto 0;
}

#orderStatus{
    width: 80px;
    height: 35px;
    font-size: 15px;
}
#orderStatus:focus{
    outline: none;
}

.osBtn{
    width: 100px;
    height: 35px;
    background-color: #f2f2f2;
    color: black;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

