body > div {
    width: 1200px;
}

hr {
    margin: 10px 0;
}

.admin-order-title {
margin-top: 30px;
margin-bottom: 10px;
}

.admin-order-title > span:first-child {
font-weight: bold;
display: flex;
}

.admin-order-title > span:last-child {
font-size: 12px;
font-weight: bold;
}

.admin-order-number {
border-top: 3px solid #17633d;
margin-top: 15px;
padding: 20px;
}

.admin-order-number > span {
font-weight: bold;
}

/* ************ 이하 수정해야함 **************** */

/* 구매하기 전체 영역 */
.order-wrapper {
    width: 1200px;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}

/* *************************************** */
/* 주문자 정보 */
.orderer {
width: 100%;
display: flex;
flex-direction: row;
margin: 10px 0;
}

.orderer-left {
width: 50%;
padding: 20px;
}

.orderer-info {
margin: 20px 0;
}

.orderer-left p {
display: flex;
height: 40px;
padding: 5px 0px;
}

.orderer-right {
width: 50%;
padding: 20px;
border-left: 1px solid #ddd;
}

.orderer-right p {
display: flex;
height: 35px;
padding-left: 10px;
}

.o-th {
flex-basis: 30%;
line-height: 30px;
font-weight: bold;
}

.o-td {
flex-basis: 70%;
text-align: right;
padding-right: 10px;
align-items: center;
line-height: 30px;
}


/* 주소영역 행 구역 */
.address-area input {
outline: none;
border: 1px solid #ddd;
margin-right: 10px;
margin-left: 300px;
width: 70%;
padding-left: 10px;
}

/* ********************************************************* */
/* 주문상품 정보 */
.order-items {
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* 총 내역 */
.order-package {
width: 100%;
height: 60px;
border-radius: 10px;
background-color: #17633d;
color: white;
display: flex;
margin-top: 20px;
margin-bottom: 10px;
}

.pack-name {
flex-basis: 65%;
font-size: 20px;
display: flex;
align-items: center;
margin-left: 20px;
font-weight: bold;
}

.pack-price {
flex-basis: 30%;
display: flex;
align-items: center;
justify-content: flex-end;
font-weight: bold;
}

.pack-i {
flex-basis: 5%;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

#icon {
display: none;
cursor: pointer;
}

.fa-solid {
font-size: 30px;
color: white;
cursor: pointer;
}

.show-area {
width: 1100px;
display: none;
margin: 0 auto;
}

#packageLine{
width: 1100px !important;
}

/* 주문목록 상세 내역 */
.order-header {
display: flex;
text-align: center;
font-weight: bold;
border-top: 1px solid #ddd;
padding: 5px 0px;
margin-top: 15px;
}

/* 주문한 메뉴의 목록 */

.order-area {
display: flex;
text-align: center;
}

.order-menu {
flex-basis: 60%;
text-align: left;
padding-left: 50px;
line-height: 30px;
}

.order-quantity {
flex-basis: 20%;
line-height: 30px;
}
.order-price {
flex-basis: 20%;
line-height: 30px;
}

/* 토핑 이름만 크기 다르게  */
.order-option {
font-size: 14px;
color: #575454;
padding-left: 70px;
flex-basis: 60%;
text-align: left;
line-height: 30px;
}

.week{
text-align: center;
padding: 10px;
font-weight: bold;
/* border-top: 1px solid #bbb;
border-bottom: 1px solid #bbb; */
margin: 5px 0;
background-color: #ddd;
border-radius: 10px;
}

/* .order-area:last-child{
    border-bottom: 1px solid #ddd;
} */

/* 배송일 영역 */
.select-delivery {
padding: 20px;
}

.select-delivery p {
line-height: 30px;
}

.cal {
margin-top: 10px;
margin-left: 10px;
}

.check-area {
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 20px;
}

.check-area > h3 {
margin-bottom: 5px;
}

.headline {
border-top: 1px solid #ccc;
}

.check-area span {
line-height: 150%;
}

.check-info {
display: flex;
}

.check-info-head {
flex-basis: 30%;
font-weight: bold;
padding: 8px;
}

.check-info-data {
flex-basis: 70%;
display: flex;
justify-content: flex-end;
padding: 8px;
}

/* 주문 취소하기 버튼 */
.withdrawOrderBtn {
display: flex;
justify-content: center;
align-items: center;
background-color: #17633d;
color: white;
height: 60px;

border-radius: 20px;

font-size: 15px;
font-weight: bold;

width: 1200px;

border: none;
cursor: pointer;
}

hr {
margin: 10px 0;
width: 1200px;
}

/* 취소요청중인 건 */
.btn-area{
    display: flex;
    justify-content: end;
}

#cancleBtn{
    margin-right: 10px;
}

.withdrawBtn, #cancleBtn{
    width: 585px;
    height: 60px;
    background-color: #17633d;
    color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

/* 뒤로가기 버튼 */

.tit {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;  
}

.tit span {
    font-size: 12px;
    font-weight: bold;
    margin: auto 0;
}

.osBtn{
    width: 100px;
    height: 35px;
    background-color: #f2f2f2;
    color: black;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

