main {
  width: 1200px;
  min-height: 80vh;
}

/*영양정보 검색 header*************************************************************/

.nutrition-header {
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  font-weight: bolder;
  color: black;
  border-bottom: 3px solid #17633d;
  padding-bottom: 30px;
  margin: 50px 0 auto auto;
}

.main-title {
  font-size: 32px;
  /* margin-bottom: 20px; */
}

/* 검색창*************************************************************/

.search-input-area {
  width: 100%;
  height: 60px;
  padding: 12px 0 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.search-input-form {
  width: 525px;
  height: 47px;
  border: #ccc solid 1px;
  background-color: white;
  border-radius: 25px;
  padding: 0 12px;
}

.search-input-form i {
  font-size: 25px;
  z-index: 10;
  padding: 10px;
  align-items: center;
}

.search-input-area input {
  width: 400px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: normal;
  align-items: center;
  padding: 8px;
}

.search-input-area > button {
  width: 195px;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #0a5a4a;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 0 0 24px;
  transition: all 0.3s;
}

.search-input-area > button:hover {
  background-color: #17633d;
}

/*검색 내용 출력*******************/
.nutrition-content {
  width: 100%;
  min-height: 700px;
  margin-top: 50px;
}

/* label{

  width: 300px;
}

select{
  width: 500px;
  
} */

select{
  font-size: 16px;
  color: #666;
  width: 70%;
  float: right;
  height: 43px;
  line-height: 43px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding-left: 10px;
}

.big-box{
  color: #666;
  display: flex;
  /* font-size: 20px; */
}

.main-box{
  color: #666;
  /* width: 1200px; */
  width: 100%;
  margin-top: 30px;
  /* padding: 65px; */
  margin-bottom: 30px;
}

.select-box{
  padding-right: 30px;
  padding-left: 30px;
  width: 50%;
  color: #666;
}

.calorie{
  padding-right: 30px;
  padding-left: 30px;
  width: 50%;
}

label{
  color: black;
  top: 0;
    left: 0;
    height: 43px;
    line-height: 43px;
    width: 110px;
    font-size: 18px;
    color: #666;
    justify-content: center;
}

.select-box > div{
  /* position: relative; */
  margin-top: 10px;
}

.option-box{
  padding: 25px 30px;
  border: 1px solid #ddd;
  border-bottom: 2px solid #17633d;
  margin-top: 10px;
  /* overflow-y: auto; */
}

.total{
  margin-top: 15px;
  text-align: right;
  font-weight: 600;
  font-size: 16px;
  color: #555;
}

.strong{
  font-size: 22px;
    font-weight: 600;
    color: #175436;
}

.option-box{
  font-size: 14px;
}

.empty > div{
  display: flex;
  padding: 10px;
}

.empty{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.delete-btn:hover{
  cursor: pointer;
}

.delete-btn>img{
  width: 16px;
  height: 16px;
  pointer-events: none;
}


.menu-name{
  margin-right: 4px;
}
.menu-calorie{
  margin-right: 3px;
}