/* 고정폭 폰트 적용 */
@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

main {
    width: 1200px;
}


.my-page-content {
    display: flex;
    width: 100%;
    margin: 50px auto;
}

/* 좌측 사이드바*************************************************************/
.left-side {
    background-color: white;
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-right: #ddd 3px solid;
}



.left-side-header {
    height: 70px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    line-height: 70px;
    border-bottom: #222222 2px solid;
    color: black;
    border-radius: 10px 10px 0 0;
}

.my-page-list {
    width: 100%;
    list-style: none;
    padding: 10px;
}

.my-page-list li {
    height: 54px;
    font-size: 15px;
    font-weight: bolder;
}

.my-page-list li a {
	 text-decoration: none;
	 color:black;
}


.my-page-list input[name='myPageType'] {
    display: none;
}

.my-page-list label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    margin-right: 15px;
    
    border-bottom: 2px solid #ddd;
}

.my-page-list label:hover {
    background-color: #ddd;
    cursor: pointer;
}

.my-page-list input:checked + label {
    border-bottom: 2px solid #17633d;

}


/*우측메인 ***********************************************************************************/


.right-side {
    border-radius: 10px;
    width: 65%;
    padding: 20px 20px 50px 50px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}


/* 마이페이지 헤더--------------------------------- */
.my-page-header {
    border-bottom: 1px solid #17633d;
    width: 100%;
    margin: 40px 20px 40px 0;
    height: 40px;
}

.main-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.my-order-package {
	display:position;
	top:0;
}

/*주문 내용--------------------------------------------*/

.my-order-content {
    width: 640px;
    margin-bottom: 20px;
    list-style: none;
    border: #ddd 2px solid;
  	padding: 15px;
}

.order-detail{
    display: flex;

}

/*주문내용 헤더*************************************************/
.order-content-header {
	display: flex;
	justify-content: space-between;
	width:100%;
	height:100%;
	margin-bottom:5px;
    font-size: 14px;
    font-weight: bolder;
}

.order-number{
	margin-top:5px;
}
.delivery-content {
	font-size:12px;
	text-align:right;
	margin-bottom:2px;
}
.dc-1 {
	display: inline-block;
	width: 63px;
}
.dc-2 {
	display: inline-block;
	width:80px;
}
.dc-3{
	display: inline-block;
	width: 48px;
}

/*주문 이미지************************************/
.package-img{
	margin-right : 15px;
}

.package-detail {
	margin-top : 7px;
}

.package-detail li {
	margin-bottom : 5px;
    font-size: 14px;
}

.pd-1 {
	display: inline-block;
	width:85px;
}



.order-btn {
    width: 160px;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color: #17633d;
    
    float: right;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
    
    margin-top:30px
}
.order-btn a{
    text-decoration: none;
    color:white;

}


.review-btn {
    width: 60px;
    height: 14px;
    font-size: 8px;
    font-weight: bolder;
    color: white;
    background-color: #17633d;
    
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-align : center;
    line-height : 14px;
    margin-bottom:5px;
    text-align : center;
}

.review-completed-btn {
	width: 60px;
    height: 14px;
    font-size: 8px;
    font-weight: bolder;
    color: white;
    background-color: #ccc;
    
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-align : center;
    line-height : 14px;
    margin-bottom:5px;
    text-align : center;
}

/*flex-end 끝부터 배치********/
.order-bottom{
	display:flex;
	justify-content: flex-end;
}

.total-price {
	font-size:14px;
	font-weight: bolder;
	margin: 5px 0 0 306px;
	text-align: right;
	width: 200px;
}

.order-cancel-btn {
    width: 100px;
    height: 24px;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    background-color: #17633d;
    
    border-radius: 5px; 
    cursor: pointer;
    border: none;
    text-align : center;
    line-height : 24px;
    margin-bottom:5px;
}



.fa-truck-fast{
	color: #17633d;
	font-size:4px;
	margin-right:5px;
}


/*숨김 펼침*******************/
.hide-checkbox{
    opacity: 0;
    margin-left:530px;
}

.hide-text {
	font-size: 5px;
	margin-right:5px;
	cursor: pointer;
}

.fa-solid {
	cursor: pointer;
    font-size: 15px;
}

.hide {
	display:none;
}

#hide-${order.orderNo}:checked ~ .hide {
    display:block;
}





/*tr***************************/
.tr {
	display:flex;
	font-size:10px;
	font-weight: bold;
	margin-left:95px;
}

.tr1 {
	margin-right: 95px;	
}

.tr2 {
	margin-right: 105px;
}

.menu-list{
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    font-size: 14px;
}


.package-type{
	font-size:12px;
	margin: 10px;
	display: flex;
	justify-content: center;
    align-items: center;
}


.menu-table {
	width: 500px; 
	margin:2px;
	border-top:1px solid #ccc;
}

.menu-table ul {
	clear: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
} 


.menu-table ul li {
	text-align: center;
	font-size: 11px;
	float: left;
	margin: 2px;
	padding: 2px, 1px;
	width:120px;
}

.menu-td {
	width:200px;
	
} 

.fa-check {
	color: #17633d;
}
