main {
    width: 1200px;
}


.my-page-content {
    display: flex;
    width: 100%;
    min-height: 700px;
    margin: 50px auto;
}

/* 좌측 사이드바*************************************************************/
.left-side {
    background-color: white;
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-right: #ddd 3px solid;
}



.left-side-header {
    height: 70px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    line-height: 70px;
    border-bottom: #222222 2px solid;
    color: black;
    border-radius: 10px 10px 0 0;
}

.my-page-list {
    width: 100%;
    list-style: none;
    padding: 10px;
}

.my-page-list li {
    height: 54px;
    font-size: 15px;
    font-weight: bolder;
}

.my-page-list li a {
	 text-decoration: none;
	 color:black;
}


.my-page-list input[name='myPageType'] {
    display: none;
}

.my-page-list label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    margin-right: 15px;
    
    border-bottom: 2px solid #ddd;
}

.my-page-list label:hover {
    background-color: #ddd;
    cursor: pointer;
}

.my-page-list input:checked + label {
    border-bottom: 2px solid #17633d;

}


/*우측메인 ***********************************************************************************/


.right-side {
    border-radius: 10px;
    width: 65%;
    padding: 20px 20px 50px 50px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}


/* 회원 정보 헤더--------------------------------- */
.my-page-header {
    border-bottom: 1px solid #17633d;
    width: 100%;
    margin: 40px 20px 40px 0;
}

.main-title {
    font-size: 18px;
    margin-bottom: 20px;
}
.main-sub-title {
    font-size: 15px;
    margin-bottom: 20px;
    color: grey;
}

/*회원정보 내용--------------------------------------*/
.empty-space1 {
	margin-right:27px;
}

.empty-space2 {
	margin-right:15px;
}

.my-info-detail {
    width: 640px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bolder;
    list-style: none;
    border: #ddd 2px solid;
  	padding: 15px;
}

.my-info-detail input {
    outline: none;
    font-size: 15px;
    margin-left: 25px;
}


.input-read-only {
	border: none;
}

.writable {
	border: none;
	color: #777777;
	cursor: pointer;
}

.input-tel {
	margin-left: 15px;
}

.input-row-message {
    font-size: 12px;
    color: grey;
    margin-left: 10px;
    font-weight: lighter;
}

.confirm {
	color:green;
}

.error {
	color:red;
}

/*주소---------------------------------*/

.empty-space {
    margin-right: 450px;
}

.my-info-detail-address {
    width: 640px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bolder;
    list-style: none;
    border: #ddd 2px solid;
  	padding: 15px;
}

.address-input {
    margin-top:10px;
    display: inline;
    border:none;
    outline:none;
}

.address-input1 {
    margin-top:10px;
    display: inline;
    border:none;
    outline:none;
    width: 92px;
}

.address-search-btn {
    width: 80px;
    height: 16px;
    font-size: 12px;
    color: white;
    background-color: #17633d;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s;
    float: right;
}

.address-search-btn:hover {
    background-color: #17633d;
}

.submit-btn {
    width: 160px;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color: #17633d;
    
    float: right;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
    
    margin-top:30px
}



/*비밀번호 변경페이지****************************************************/
.input-password {
    width:110px;
}

.empty-space3 {
	margin-right:20px;
}

.empty-space4 {
	margin-right:32px;
	
}
 

/*회원탈퇴 페이지***************************************/
.my-secession-content {
    line-height: 180%;
}

