
main {
    width: 1200px;
}


.my-page-content {
    display: flex;
    width: 100%;
    min-height: 700px;
    margin: 50px auto;
}

/* 좌측 사이드바*************************************************************/
.left-side {
    background-color: white;
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-right: #ddd 3px solid;
}



.left-side-header {
    height: 70px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    line-height: 70px;
    border-bottom: #222222 2px solid;
    color: black;
    border-radius: 10px 10px 0 0;
}

.my-page-list {
    width: 100%;
    list-style: none;
    padding: 10px;
}

.my-page-list li {
    height: 54px;
    font-size: 15px;
    font-weight: bolder;
}

.my-page-list li a {
	 text-decoration: none;
	 color:black;
}


.my-page-list input[name='myPageType'] {
    display: none;
}

.my-page-list label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    margin-right: 15px;
    
    border-bottom: 2px solid #ddd;
}

.my-page-list label:hover {
    background-color: #ddd;
    cursor: pointer;
}

.my-page-list input:checked + label {
    border-bottom: 2px solid #17633d;

}


/*우측메인 ***********************************************************************************/


.right-side {
    border-radius: 10px;
    width: 65%;
    padding: 20px 20px 50px 50px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}


/* 회원 정보 헤더--------------------------------- */
.my-page-header {
    border-bottom: 1px solid #17633d;
    width: 100%;
    margin: 40px 20px 40px 0;
}

.main-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.main-sub-title {
    font-size: 15px;
    margin-bottom: 20px;
    color: grey;
}
/*리뷰 내용--------------------------------------*/
.review-del-btn {
    width: 60px;
    height: 20px;
    font-size: 10px;
    font-weight: bolder;
    color: white;
    background-color: #17633d;
    
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-align : center;
    line-height : 20px;
}

.my-review-detail {
    width: 640px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bolder;
    list-style: none;
    border: #ddd 2px solid;
  	padding: 15px;
  	display: flex;
}

/* 리뷰 썸네일 div(정사각형 틀) */
.review-img-wrapper{
    position: relative;
    width: 200px;
    height: 200px;
}

/* 리뷰 썸네일 */
.review-img{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 10px;

}


.content {
	width: 400px;
	margin-top:5px;	
}

.content li {
	margin-bottom:5px;
}

.review-content-1 div{
	display: inline-block;
	width:80px;
}

.review-content-2 div{
	display: inline-block;
	width: 35px;
}



.review-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.review-content div{
	margin-bottom:5px;
}


.text-muted {
	color:#fec43b !important;
}

.empty-review {
	font-size: 18px;
	margin:20px;
}

.order-btn {
    width: 160px;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color: #17633d;
    
    float: right;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
    
    margin-top:30px
}

.order-btn a {
	text-decoration:none;
	color:white;
}

.hide {
	display:none;
}

/* ************************************************** */
/* 리뷰 상세 모달 */
.review-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    left:0;
    z-index: 1210;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 14px 0 rgb(0 0 0 / 10%);
    overflow: auto;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.review-modal, .review-modal *{
    box-sizing: content-box !important;
}
    
/* 리뷰 모달 닫기 */
#modal-close {
    position: absolute;
    top: 20px;
    right: 40px;

    color: white;
    font-size: 30px;
    font-weight: bold;

    transition-duration: 0.1s;
    cursor: pointer;
}

#modal-close:hover{
    transform: scale(1.2);
}

/* 리뷰 상세 조회 */
.review-detail{
/*     border: solid 1px black; */
    background-color: white;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
}

/* 리뷰 삭제 버튼 */
.review-delete-area{
    align-self: flex-end;
    padding-bottom: 10px;
}
.review-delete-area > button{
    width: 50px;
    height: 30px;
    font-weight: bold;
    border: 0;
    background-color: #17633d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* 리뷰 내용 묶음 */
.review-detail-content{
    line-height: 150%;
    width: 463.985px;
}

/* 리뷰 별점 */
.review-detail-star{
    color: #fec43b;
}

/* 리뷰 작성일 */
.review-detail-date{
    color: #666666;
}

/* 샐러드명 */
.review-detail-salad{
    font-weight: bold;
    color: #666666;
}

/* 리뷰 작성자 닉네임 */
.review-detail-nickname{
    color: #666666;
    display: flex;
}

/* 리뷰 내용 */
.review-detail-text{
    border: #999999 1px solid;
    border-radius: 10px;
    color: #666666;
    padding-right: 10px;
    margin-top: 5px;
    overflow:auto;
    width: 100%;
    height: 100px;
    padding: 5px;
    font-size: 14px;
    line-height: 120%;
}
/* 좋아요 */
.review-detail-like{
    margin-top: 10px;
    align-self: flex-end;
    color: red;
    font-size: 14px;
}

/* 이미지 슬라이드 */
/* 리뷰이미지 영역 */
.carouselExampleIndicators{
    width: 500px;
    height: 300px;
/*     display: flex;
    justify-content: center;
    align-items: center; */
}

.review-images{
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 300px;
    width: auto !important;
    height: 100% !important;

    height: 326px !important;
    width: auto !important;
    min-width: auto;
}

.carousel-item{
    text-align: center;
}

/* 이미지가 하나거나 없을 때 버튼 안보이게 하는 클래스 */
.rd-hidden{
    display: none !important;
}

/* 리뷰 하트 이미지(폰트어썸X 이미지) */
.rd-heart{
    width: 20px;
}


