main {
    width: 1200px;
}


.my-page-content {
    display: flex;
    width: 100%;
    min-height: 700px;
    margin: 50px auto;
}

/* 좌측 사이드바*************************************************************/
.left-side {
    background-color: white;
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-right: #ddd 3px solid;
}



.left-side-header {
    height: 70px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    line-height: 70px;
    border-bottom: #222222 2px solid;
    color: black;
    border-radius: 10px 10px 0 0;
}

.my-page-list {
    width: 100%;
    list-style: none;
    padding: 10px;
}

.my-page-list li {
    height: 54px;
    font-size: 15px;
    font-weight: bolder;
}

.my-page-list li a {
	text-decoration: none;
	color:black;
}


.my-page-list input[name='myPageType'] {
    display: none;
}

.my-page-list label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    margin-right: 15px;
    
    border-bottom: 2px solid #ddd;
}

.my-page-list label:hover {
    background-color: #ddd;
    cursor: pointer;
}

.my-page-list input:checked + label {
    border-bottom: 2px solid #17633d;

}


/*우측메인 ***********************************************************************************/


.right-side {
    border-radius: 10px;
    width: 65%;
    padding: 20px 20px 50px 50px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}


/* 회원 정보 헤더--------------------------------- */
.my-page-header {
    border-bottom: 1px solid #17633d;
    width: 640px;
    margin: 40px 20px 40px 0;
}

.main-title {
    font-size: 18px;
    margin-bottom: 20px;
}

/* 리뷰 작성 *************************************************************/

/* 주문정보 부분 */
.rw-info-area{
    border-bottom: #ccc 1px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 620px;
}

.rw-info{
    margin: 10px 0 10px;
}


/* 리뷰 작성 공간 */
.rw-review-content-area{
    margin: 20px 0px 20px;
}

/* 리뷰 질문 */
.rw-question{
    margin-bottom: 5px;
}

/* 리뷰 내용 */
.review-detail-text{
    border: #ccc 1px solid;
    border-radius: 10px;
    color: #666666;
    padding: 10px;
    margin-top: 5px;
    overflow:auto;
    width: 580px;
    height: 150px;
    padding: 5px;
    font-size: 16px;
    resize: none;
}

.review-detail-text:focus {
    outline: none;
}

/* 이미지 전체를 감싸는 div */
.rw-image-area{
    display: flex;
}

.reviewImg{
    width: 180px;
    height: 180px;

    margin-right: 20px;
    display: inline-block;
    text-align: center;

    position: relative;
}

.reviewImg > label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.inputImage{
    display: none;
}


/* 이미지 */
.reviewImg img{
    max-width: 100%;
    max-height: 100%;
}

/* 이미지 삭제 버튼 */
.delete-image{
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 20px;
    cursor: pointer;
}

/* 글쓰기 버튼 */
.submit-btn {
    width: 160px;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color: #17633d;
    
    float: right;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
    
    margin-top:30px
}

/* 리뷰 별점 드래그 */
.rw-star{
    position: relative;
    font-size: 2rem;
    color: #ddd;
}

.rw-star input{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.rw-star span{
    width: 0;
    position: absolute; 
    left: 0;
    color: #fec43b;
    overflow: hidden;
    pointer-events: none;
}