.review-list-area{
    width: 1200px;
    margin: 0;
    box-sizing: content-box !important;
}

.review-check{
    display: flex;
    justify-content: flex-end;
    width: 1200px;
/*     margin-top: 15px; */
    padding: 20px;
}

.review-div{
    display: inline-block;
    /* padding-left: 5px; */
    width: 1200px;
    height: 900px;
}

/* 리뷰 카테고리 제목 */
.review-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: black;
    border-bottom: 3px solid #17633d;
    padding-bottom: 80px;
    margin: 50px 0 auto auto;
}

.fa-circle-left{
    font-size: 30px;
}

.review-back{
    color: #17633d;
    text-decoration: none;
    margin-right: 30px;
/*     position: absolute;
    top: 260px;
    left: 400px; */
}
.main-title {
    font-size: 32px;
/*     margin-bottom: 20px; */
}

.review-title > div:last-child {
    font-size: 12px;
    font-weight: bold;
}

/* 리뷰 요소 */
.albumLi{
    margin-left: 12px;
    display: inline-block;
    height: 300px;
    width: 350px;
    margin: 10px;
}

.albumLi > span{
    display: flex;
    justify-content: center;
}

/* 리뷰 썸네일 div(정사각형 틀) */
.review-img-wrapper{
    position: relative;
    width: 200px;
    height: 200px;
}

/* 리뷰 썸네일 */
.review-img{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

/* 리뷰 내용, 작성자, 별점 */
.review-content{
    color: #333333;
    /* white-space: nowrap; */
    padding-top: 8px;
    font-weight: bold;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    text-decoration: none;
}

/* 리뷰 메뉴명 */
.review-menu-name{
    color: #999999;
}

/* 리뷰 작성자 */
.review-writer{
    color: #666666;
    padding-top: 7px;
/*     display: flex;
    justify-content: flex-end; */
    margin-right: 12px;
}

.rating{
    color: #fec43b;
}

/* 페이지네이션 */
.pagination {
    margin: 35px 15px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 13px;
}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
    letter-spacing: -2px;
    text-decoration: none;
    color: black;
}

/* 현재 페이지 번호 */
.pagination .current{
    color: #17633d;
    font-weight: bold;
}

/* 검색창 */
.search-area{
    margin: 15px 15px;
    display: flex;
    justify-content: center;
}

/* ************************************************** */
/* 리뷰 상세 모달 */
.review-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    left:0;
    z-index: 1210;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 14px 0 rgb(0 0 0 / 10%);
    overflow: auto;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.review-modal, .review-modal *{
    box-sizing: content-box !important;
}
    
/* 리뷰 모달 닫기 */
#modal-close {
    position: absolute;
    top: 20px;
    right: 40px;

    color: white;
    font-size: 30px;
    font-weight: bold;

    transition-duration: 0.1s;
    cursor: pointer;
}

#modal-close:hover{
    transform: scale(1.2);
}

/* 리뷰 상세 조회 */
.review-detail{
/*     border: solid 1px black; */
    background-color: white;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
}

/* 리뷰 삭제 버튼 */
.review-delete-area{
    align-self: flex-end;
    padding-bottom: 10px;
}
.review-delete-area > button{
    width: 50px;
    height: 30px;
    font-weight: bold;
    border: 0;
    background-color: #17633d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* 리뷰 내용 묶음 */
.review-detail-content{
    line-height: 150%;
    width: 463.985px;
}

/* 리뷰 별점 */
.review-detail-star{
    color: #fec43b;
}

/* 리뷰 작성일 */
.review-detail-date{
    color: #666666;
}

/* 샐러드명 */
.review-detail-salad{
    font-weight: bold;
    color: #666666;
}

/* 리뷰 작성자 닉네임 */
.review-detail-nickname{
    color: #666666;
    display: flex;
}

/* 리뷰 내용 */
.review-detail-text{
    border: #999999 1px solid;
    border-radius: 10px;
    color: #666666;
    padding-right: 10px;
    margin-top: 5px;
    overflow:auto;
    width: 100%;
    height: 100px;
    padding: 5px;
    font-size: 14px;
    line-height: 120%;
}
/* 좋아요 */
.review-detail-like{
    margin-top: 10px;
    align-self: flex-end;
    color: red;
    font-size: 14px;
}

/* 이미지 슬라이드 */
/* 리뷰이미지 영역 */
.carouselExampleIndicators{
    width: 500px;
    height: 300px;
/*     display: flex;
    justify-content: center;
    align-items: center; */
}

.review-images{
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 300px;
    width: auto !important;
    height: 100% !important;
} 