.review-list-area{
    width: 1200px;
    margin: 0;
}

.review-check{
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    border-top: 3px solid #17633d;
    margin-top: 15px;
    padding: 20px;
}

.review-div{
    display: inline-block;
    /* padding-left: 5px; */
    width: 1200px;
    height: 900px;
}

/* 리뷰 카테고리 제목 */
.review-title {
    margin-top: 30px;
    margin-bottom: 10px;
}

.review-title > span:first-child {
    font-weight: bold;
    display: flex;
}

.review-title > span:last-child {
    font-size: 12px;
    font-weight: bold;
}

/* 리뷰 요소 */
.albumLi{
    margin-left: 12px;
    display: inline-block;
    height: 300px;
    width: 350px;
/*     padding-left: 0px;
    right: 0px; */
}

.albumLi > a{
    display: flex;
    justify-content: center;
}

.review-img{
    width: 200px;
    height: 200px;
}

/* 리뷰 내용, 작성자, 별점 */
.review-content{
    color: #333333;
    /* white-space: nowrap; */
    padding-top: 8px;
    font-weight: bold;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    justify-content: center;
}

/* 리뷰 작성자 */
.review-writer{
    color: #666666;
    padding-top: 7px;
/*     display: flex;
    justify-content: flex-end; */
    margin-right: 12px;
}

.review-star{
    color: #999999;
}

/* 페이지네이션 */
.pagination {
    margin: 15px 15px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 13px;
}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
    letter-spacing: -2px;
    text-decoration: none;
    color: black;
}

/* 현재 페이지 번호 */
.pagination .current{
    color: #17633d;
    font-weight: bold;
}

/* 검색창 */
.search-area{
    margin: 15px 15px;
    display: flex;
    justify-content: center;
}