@import url(../admin.css);
@import url(../../main/header.css);
@import url(../../main/footer.css);

/* 메뉴관리 영역 */
.menu-wrapper{
    min-height: 100vh;
    width: 1200px;
}

.menu-m-tit {
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 3px solid #17633d;
}

.menu-m-tit span {
    font-weight: bold;
    display: flex;
}

.tit {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;  
}

.tit span {
    font-size: 12px;
    font-weight: bold;
    margin: auto 0;
}

.menu-i{
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    text-decoration: none;
}


/* 버튼영역 */
#addBtn, #delBtn, #updateBtn {
    width: 100px;
    height: 35px;
    background-color: #f2f2f2;
    color: black;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

#addBtn:hover, #delBtn:hover {
    background-color: #17633d;
    color: white;
    border: none;
}

table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

table th {
    border: 1px solid #ddd;
    background-color: #f1f2f1;
    height: 30px;
}

table td {
    border-bottom: 1px solid #ddd;
    height: 40px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

/* 페이지네이션 */
.pagination {
    margin: 50px auto;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 13px;
}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
    letter-spacing: -2px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* 현재 페이지 번호 */
.pagination .current{
    color: #17633d;
    font-weight: bold;
}



/* 옵션 이미지 */
.topping-img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    padding-top : 3px;
}



/* 모달 */
.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    z-index: 500;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: flex;
    animation-name: show;
    animation-duration: 0.5s;
}

.modal.hide{
    animation-name: hide;
    animation-duration: 0.5s;
}


#modal-image {
    background-color: white;
    margin: auto;
    border-radius: 10px;
    max-width: 50%;
    max-height: 50%;
}

/* @keyframes : 
애니메이션 중간중간의 특정 지점들을 거칠 수 있는 키프레임들을 설정함으로써 CSS 애니메이션 과정의 중간 절차를 제어할 수 있게 합니다.  */
/* display 변경 시 transition이 적용되지 않으므로 animation 사용 */
@keyframes show {
    from {opacity: 0;} /* opacity : 투명도 */
    to {opacity: 1;}
}

@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
}


/* 메뉴 닫기 버튼  */
#modal-close {
    position: absolute;
    /* top: 270px;
    right: 710px; */
    top: 180px;
    right: 580px;

    color: #ddd;
    font-size: 50px;
    font-weight: bold;

    transition-duration: 0.2s;
    cursor: pointer;
}

#modal-close:hover{
    transform: scale(1.2);
}


/* 옵션 닫기 */
#option-close {
    position: absolute;
    top: 0;
    right:0;
    /* top: 270px; */
    /* right: 700px; */ 

    color: #ccc;
    font-size: 50px;
    font-weight: bold;

    transition-duration: 0.2s;
    cursor: pointer;
}

#modal-close:hover{
    transform: scale(1.2);
}




