<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="deliveryManageMapper">
	
	<!-- resultMap -->
	<resultMap type="DeliveryManage" id="deliveryManage_rm">
      <id property="orderNo" column="ORDER_NO"/>
      <result property="deliveryDate" column="DELIVERY_DATE"/>
      <result property="orderName" column="ORDER_NAME"/>
      <result property="orderTel" column="ORDER_TEL"/>
      <result property="orderAddress" column="ORDER_ADDRESS"/>
      <result property="packageNo" column="PACKAGE_NO"/>
      <result property="orderPrice" column="ORDER_PRICE"/>
      <result property="deliveryStatus" column="DELIVERY_STATUS"/>
      <result property="deliveryCode" column="DELIVERY_CODE"/>
      <result property="orderDelFl" column="ORDER_DEL_FL"/>
      <result property="deliveryNo" column="DELIVERY_NO"/>
      <result property="packageNo" column="PACKAGE_NO"/>
      <result property="packageName" column="PACKAGE_NAME"/>
      <result property="rowNum" column="ROW_NUM"/>
	</resultMap>
	
	<!-- 배송건수 조회 -->
	<select id="getDeliveryCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM "DELIVERY"
	</select>
	
	<!-- 배송정보 불러오기 -->
	<select id="selectDelList" resultMap="deliveryManage_rm">
		SELECT ROW_NUMBER() OVER(PARTITION BY D.ORDER_NO ORDER BY D.ORDER_NO, D.DELIVERY_DATE) ROW_NUM,
		DELIVERY_NO, O.ORDER_NO, TO_CHAR(DELIVERY_DATE, 'YYYY-MM-DD')DELIVERY_DATE, ORDER_NAME, ORDER_TEL, ORDER_ADDRESS, O.PACKAGE_NO, P.PACKAGE_NAME, ORDER_PRICE, DELIVERY_STATUS, D.DELIVERY_CODE, ORDER_DEL_FL
		FROM DELIVERY D
		JOIN "ORDER" O ON (O.ORDER_NO = D.ORDER_NO)
		JOIN "DELIVERY_MANAGE" DM ON (DM.DELIVERY_CODE=D.DELIVERY_CODE)
		JOIN "PACKAGE" P ON (P.PACKAGE_NO=O.PACKAGE_NO)
		ORDER BY DELIVERY_DATE DESC
	</select>
	
	<!-- 배송상태 변경(배송완료로) -->
	<update id="updateDelivery">
		UPDATE "DELIVERY" SET DELIVERY_CODE='D' WHERE DELIVERY_NO = #{deliveryNo}
	</update>
	
	<!-- 상세 배송일정 -->
	<select id="selectDeliveryDetail" parameterType="_int" resultMap="deliveryManage_rm">
		SELECT  ROW_NUMBER() OVER(PARTITION BY D.ORDER_NO ORDER BY D.ORDER_NO, D.DELIVERY_DATE) ROW_NUM,
		DELIVERY_NO, O.ORDER_NO, TO_CHAR(DELIVERY_DATE, 'YYYY-MM-DD')DELIVERY_DATE, ORDER_NAME, ORDER_TEL, ORDER_ADDRESS, O.PACKAGE_NO, P.PACKAGE_NAME, ORDER_PRICE, DELIVERY_STATUS, D.DELIVERY_CODE, ORDER_DEL_FL
		FROM DELIVERY D
		JOIN "ORDER" O ON (O.ORDER_NO = D.ORDER_NO)
		JOIN "DELIVERY_MANAGE" DM ON (DM.DELIVERY_CODE=D.DELIVERY_CODE)
		JOIN "PACKAGE" P ON (P.PACKAGE_NO=O.PACKAGE_NO)
		WHERE DELIVERY_NO = #{deliveryNo}
	</select>
	
</mapper>