<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberPw" column="MEMBER_PW"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberTel" column="MEMBER_TEL"/>
		<result property="memberAddress" column="MEMBER_ADDRESS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="authority" column="AUTHORITY"/>
	</resultMap>

	<!-- 로그인 -->
	<select id="login" parameterType="string" resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_PW, MEMBER_NICKNAME, MEMBER_NAME, MEMBER_TEL, MEMBER_ADDRESS, ENROLL_DATE, 
				AUTHORITY,
				TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') AS ENROLL_DATE
		FROM "MEMBER"
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_EMAIL = #{memberEmail}
	</select>


	<!-- 회원가입 -->
	<insert id="signUp" parameterType="Member">
		INSERT INTO "MEMBER" VALUES(SEQ_MEMBER_NO.NEXTVAL, #{memberEmail}, #{memberPw}, #{memberNickname}, #{memberName},  
					#{memberTel}, #{memberAddress}, 
					DEFAULT, DEFAULT, DEFAULT)
	</insert>

	<!-- 이메일 중복 체크 -->
	<select id="emailDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER 
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_DEL_FL = 'N'
	</select>

	<!-- 이메일 아이디 찾기 -->
	<select id="findID" parameterType="Member" resultMap="member_rm">
		SELECT MEMBER_NAME, MEMBER_EMAIL
		FROM "MEMBER"
		WHERE MEMBER_NAME = #{memberName}
		AND MEMBER_TEL = #{memberTel}
		AND MEMBER_DEL_FL = 'N'
	</select>

	<!-- 비밀번호 찾기 -->
	<select id="findPw" parameterType="string" resultType="string">
		SELECT MEMBER_NO
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_DEL_FL = 'N'
	</select>

</mapper>
