<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="menuMapper">
	<!-- Menu resultMap -->
	<resultMap type="Menu" id="menu_rm">
      <id property="menuNo" column="MENU_NO"/>
      <result property="menuName" column="MENU_NAME"/>
      <result property="menuPrice" column="MENU_PRICE"/>
      <result property="menuImage" column="MENU_IMG"/>
      <result property="menuContent" column="MENU_CONTENT"/>
      <result property="menuDeleteFlag" column="MENU_DEL_FL"/>
      <result property="menuCalorie" column="CALORIE"/>
	</resultMap>


	<!-- Option resultMap -->
	<resultMap type="Option" id="option_rm">
      <id property="optionNo" column="OPTION_NO"/>
      <result property="optionType" column="OPTION_TYPE"/>
      <result property="optionName" column="OPTION_NAME"/>
      <result property="optionImage" column="OPTION_IMG"/>
      <result property="optionPrice" column="OPTION_PRICE"/>
      <result property="optionDeleteFlag" column="OPTION_DEL_FL"/>
      <result property="optionCalorie" column="CALORIE"/>
	</resultMap>
	
	<!-- Package resultMap -->
	<resultMap type="Package" id="package_rm">
      <id property="packageNo" column="PACKAGE_NO"/>
      <result property="packageName" column="PACKAGE_NAME"/>
      <result property="packageType" column="PACKAGE_TYPE"/>
      <result property="packageImage" column="PACKAGE_IMG"/>
	</resultMap>

	

	<!-- 메뉴(샐러드) 조회  -->
	<select id="selectMenuList" resultMap="menu_rm">
	SELECT * FROM MENU WHERE MENU_DEL_FL = 'N'
	</select>


	<!-- 메인 토핑 조회 -->
<!-- 	<select id="selectMainTopping" resultMap="option_rm">
	SELECT * FROM "OPTION" WHERE OPTION_DEL_FL ='N' AND OPTION_TYPE = 'M' ORDER BY 1
	</select> -->


	<!-- 서브 토핑 조회 -->
<!-- 	<select id="selectSubTopping" resultMap="option_rm">
	SELECT * FROM "OPTION" WHERE OPTION_DEL_FL ='N' AND OPTION_TYPE = 'T' ORDER BY 1
	</select>
 -->

	<!-- 소스 조회 -->
<!-- 	<select id="selectSourceList" resultMap="option_rm">
	SELECT * FROM "OPTION" WHERE OPTION_DEL_FL ='N' AND OPTION_TYPE = 'S' ORDER BY 1
	</select> -->
	
	<!-- 패키지 조회 -->
	<select id="selectPackageList" resultMap="package_rm">
	SELECT * FROM "PACKAGE" ORDER BY 1
	</select>

	<!-- 옵션 전부 조회 -->
	<select id="selectOptionList" resultMap="option_rm">
	SELECT * FROM "OPTION" WHERE OPTION_DEL_FL ='N' ORDER BY 1
	</select>

</mapper>
