<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myOrderMapper">
	
	<!-- Order resultMap -->
	<resultMap type="Order" id="order_rm">
      <id property="orderNo" column="ORDER_NO"/>      
      <result property="packageName" column="PACKAGE_NAME"/>
      <result property="packageImage" column="PACKAGE_IMG"/>
      <result property="packageType" column="PACKAGE_TYPE"/>
      <result property="orderDate" column="ORDER_DATE"/>
      <result property="orderAddress" column="ORDER_ADDRESS"/>
      <result property="orderName" column="ORDER_NAME"/>
      <result property="orderPrice" column="ORDER_PRICE"/>
      <result property="orderTel" column="ORDER_TEL"/>
      <result property="orderDeleteFlag" column="ORDER_DEL_FL"/>
      <collection property="orderMenuList" javaType="java.util.ArrayList" ofType="OrderMenu"
      select="selectOrderMenuList" column="ORDER_NO" />
	</resultMap>
	
	
	
	<!-- OrderMenu resultMap -->
	<resultMap type="OrderMenu" id="orderMenu_rm">
      <id property="orderMenuNo" column="ORDER_MENU_NO"/>
      <result property="menuNo" column="MENU_NO"/>
      <result property="menuName" column="MENU_NAME"/>
      <result property="menuPrice" column="MENU_PRICE"/>
      <result property="menuImage" column="MENU_IMG"/>
      <result property="menuDeleteFlag" column="MENU_DEL_FL"/>
      <result property="deliveryNo" column="DELIVERY_NO"/>
      <result property="deliveryCode" column="DELIVERY_CODE"/>
      <result property="deliveryDate" column="DELIVERY_DATE"/>
      <collection property="optionList" javaType="java.util.ArrayList" ofType="OrderOption"
      select="selectOptionList" column="ORDER_MENU_NO" />
	</resultMap> 

	<!-- OrderOption resultMap -->
	<resultMap type="OrderOption" id="orderOption_rm">
      <id property="optionNo" column="OPTION_NO"/>
      <result property="optionName" column="OPTION_NAME"/>
      <result property="optionPrice" column="OPTION_PRICE"/>
      <result property="optionCount" column="OPTION_COUNT"/>
      <result property="optionDeleteFlag" column="OPTION_DEL_FL"/>
	</resultMap> 

	<!-- ReviewCheck resultMap -->
	<resultMap type="ReviewCheck" id="reviewCheck_rm">
      <id property="orderMenuNo" column="ORDER_MENU_NO"/>
      <result property="reviewCheck" column="REVIEW_CHECK"/>
	</resultMap> 

	<!-- Delivery resultMap -->
	<resultMap type="Delivery" id="delivery_rm">
      <id property="deliveryNo" column="DELIVERY_NO"/>
      <result property="deliveryDate" column="DELIVERY_DATE"/>
      <result property="deliveryCode" column="DELIVERY_CODE"/>
      <result property="orderNo" column="ORDER_NO"/>
      <result property="deliveryStatus" column="DELIVERY_STATUS"/>
      <result property="rowNum" column="ROW_NUM"/>
	</resultMap> 


	<!-- 나의 주문 조회 -->
	<select id="selectMyOrder" resultMap="order_rm">
		SELECT ORDER_NO, PACKAGE_NAME, PACKAGE_IMG, PACKAGE_TYPE,
	   		ORDER_DATE, ORDER_ADDRESS,ORDER_NAME,ORDER_TEL,ORDER_PRICE,ORDER_DEL_FL
		FROM "ORDER"
		LEFT JOIN ORDER_MENU USING (ORDER_NO)
		LEFT JOIN ORDER_MENU_OPTION USING (ORDER_MENU_NO)
		JOIN "PACKAGE" USING (PACKAGE_NO)
		LEFT JOIN "OPTION" USING (OPTION_NO)
		LEFT JOIN "DELIVERY" USING (ORDER_NO)
		LEFT JOIN "MENU" USING(MENU_NO)
		WHERE NOT ORDER_DEL_FL='A'
		AND MEMBER_NO = #{memberNo}
		GROUP BY ORDER_NO,PACKAGE_NAME,PACKAGE_IMG,PACKAGE_TYPE,
			 ORDER_DATE, 
		  	 ORDER_ADDRESS,ORDER_NAME,ORDER_TEL,ORDER_PRICE,ORDER_DEL_FL
		ORDER BY ORDER_NO DESC
	</select>
 	
 	
 	<!-- 패키지에 담은 메뉴 조회 -->
	<select id="selectOrderMenuList" resultMap="orderMenu_rm">
		SELECT DISTINCT ORDER_MENU_NO, MENU_NO, MENU_NAME, MENU_PRICE, MENU_IMG
		FROM "ORDER"
		LEFT JOIN ORDER_MENU USING (ORDER_NO)
		LEFT JOIN ORDER_MENU_OPTION USING (ORDER_MENU_NO)
		LEFT JOIN "MENU" USING (MENU_NO)
		WHERE NOT ORDER_DEL_FL='A'
		AND ORDER_NO=#{orderNo}
		AND MENU_DEL_FL='N'
		ORDER BY ORDER_MENU_NO
	</select>	
 		
 	<!-- 메뉴 별 옵션 조회 -->
	<select id="selectOptionList" resultMap="orderOption_rm">
		SELECT OPTION_NO, OPTION_NAME, OPTION_COUNT, OPTION_PRICE
		FROM "ORDER"
		LEFT JOIN ORDER_MENU USING (ORDER_NO)
		LEFT JOIN ORDER_MENU_OPTION USING (ORDER_MENU_NO)
		LEFT JOIN "PACKAGE" USING (PACKAGE_NO)
		JOIN "OPTION" USING (OPTION_NO)
		LEFT JOIN "MENU" USING (MENU_NO)
		LEFT JOIN "REVIEW" USING(ORDER_MENU_NO)
		WHERE NOT ORDER_DEL_FL='A'
		AND ORDER_MENU_NO=#{orderMenuNo}
		AND MENU_DEL_FL='N'
		ORDER BY OPTION_NO
	</select>
 	
	<!-- 주문 조회 시 배송 조회 -->
	<select id="selectMyDelivery" resultMap="delivery_rm">
		SELECT ROW_NUMBER() OVER(PARTITION BY ORDER_NO ORDER BY ORDER_NO, DELIVERY_DATE) ROW_NUM,
	   	  DELIVERY_NO, DELIVERY_CODE, DELIVERY_STATUS,
		  TO_CHAR(DELIVERY_DATE, 'YYYY-MM-DD') DELIVERY_DATE,
		  ORDER_NO 
		FROM "ORDER"
		LEFT JOIN ORDER_MENU USING (ORDER_NO)
		LEFT JOIN ORDER_MENU_OPTION USING (ORDER_MENU_NO)
		JOIN "PACKAGE" USING (PACKAGE_NO)
		LEFT JOIN "OPTION" USING (OPTION_NO)
		LEFT JOIN "DELIVERY" USING (ORDER_NO) 
		LEFT JOIN "MENU" USING(MENU_NO)
		LEFT JOIN "DELIVERY_MANAGE" USING(DELIVERY_CODE)
		WHERE NOT ORDER_DEL_FL='A'
		AND MEMBER_NO = #{memberNo}
		GROUP BY DELIVERY_DATE, DELIVERY_NO, DELIVERY_CODE,ORDER_NO, DELIVERY_STATUS
 	</select>
 	
 	<!-- 리뷰체크 리스트-->
 	<select id="reviewCheckList" resultMap="reviewCheck_rm">
 	SELECT NVL2(REVIEW_NO, 'done' ,'possible')REVIEW_CHECK, ORDER_MENU_NO 
	FROM "ORDER_MENU"
	LEFT JOIN REVIEW USING(ORDER_MENU_NO)
	JOIN "ORDER" USING(ORDER_NO)
	ORDER BY ORDER_MENU_NO
	</select>
	
	<update id="cancelMyOrder">
	UPDATE "ORDER" SET
	ORDER_DEL_FL = 'Y'
	WHERE ORDER_NO=#{orderNo}
	</update>
</mapper>
