<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">
	
	<!-- Order resultMap -->
	<resultMap type="Order" id="order_rm">
      <id property="orderNo" column="ORDER_NO"/>      
      <result property="orderDate" column="ORDER_DATE"/>
      <result property="cancleDate" column="ORDER_DATE"/>
      <result property="orderPrice" column="ORDER_PRICE"/>
      <result property="orderName" column="ORDER_NAME"/>
      <result property="orderTel" column="ORDER_TEL"/>
      <result property="orderAddress" column="ORDER_ADDRESS"/> 
      <result property="memberNo" column="MEMBER_NO"/>      
       
      <collection property="menuList" javaType="java.util.ArrayList" ofType="CartMenu"
      select="selectCart" column="ORDER_NO" />
	</resultMap>
	
	<!-- PayMenu resultMap -->
	<resultMap type="CartMenu" id="cartMenu_rm">
      <id property="cartMenuNo" column="CART_MENU_NO"/>
      <result property="menuName" column="MENU_NAME"/>
      <result property="menuPrice" column="MENU_PRICE"/>
      <result property="menuDeleteFlag" column="MENU_DEL_FL"/>
      <collection property="optionList" javaType="java.util.ArrayList" ofType="CartOption"
      select="selectCartOptionList" column="CART_MENU_NO" />
	</resultMap>


	<!-- payOption resultMap -->
	<resultMap type="CartOption" id="cartOption_rm">
      <id property="optionNo" column="OPTION_NO"/>
      <result property="optionName" column="OPTION_NAME"/>
      <result property="optionPrice" column="OPTION_PRICE"/>
      <result property="optionCount" column="CART_OPTION_COUNT"/>
      <result property="optionDeleteFlag" column="OPTION_DEL_FL"/>
	</resultMap>

	<!-- 주문번호 생성 및 주문 삽입 -->		
	<insert id="insertOrderNo" parameterType="Order" useGeneratedKeys="true">
		<selectKey keyProperty="orderNo" resultType="_int" order="BEFORE">
			SELECT SEQ_OPTION_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO ORDER 
		VALUES (#{orderNo}, #{memberNo}, #{packageNo})
	</insert>
	
	
	<!-- 주문에 담은 메뉴 -->
	<insert id="insertOrderMenuNo" parameterType="CartMenu" useGeneratedKeys="true">
		<selectKey keyProperty="cartMenuNo" resultType="_int" order="BEFORE">
			SELECT SEQ_ORDER_MENU_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO CART_MENU
		VALUES (#{orderMenuNo}, #{cartNo}, #{menuNo})
	</insert>
	
	<!-- 주문 메뉴별 옵션  -->
	<insert id="insertOrderMenuOption" parameterType="CartOption">
		INSERT INTO ORDER_MENU_OPTION
		VALUES (#{orderMenuNo}, #{optionNo}, #{optionCount})
	</insert>

 		
</mapper>
