<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

<!-- Review resultMap -->
<resultMap type="Review" id="review_rm">
	<id property="reviewNo" column="REVIEW_NO"/>
	<result property="rating" column="RATING"/>
	<result property="reviewContent" column="REVIEW_CONTENT"/>
	<result property="reviewDate" column="REVIEW_DATE"/>
	<result property="reviewDeleteFlag" column="REVIEW_DEL_FL"/>
	<result property="memberNo" column="MEMBER_NO"/>
	<result property="memberNickname" column="MEMBER_NICKNAME"/>
	<result property="orderNo" column="ORDER_NO"/>
	<result property="orderMenuNo" column="ORDER_MENU_NO"/>
	<result property="menuNo" column="MENU_NO"/>
	<result property="menuName" column="MENU_NAME"/>
	<result property="likeCount" column="LIKE_COUNT"/>
	<result property="likeCheck" column="LIKE_CHECK"/>
	<result property="thumbnail" column="THUMBNAIL"/>
	<result property="packageName" column="PACKAGE_NAME"/>
	
</resultMap>

<!-- Review resultMap -->
<resultMap type="ReviewDetail" id="reviewDetail_rm">
	<id property="reviewNo" column="REVIEW_NO"/>
	<result property="rating" column="RATING"/>
	<result property="reviewContent" column="REVIEW_CONTENT"/>
	<result property="reviewDate" column="REVIEW_DATE"/>
	<result property="reviewDeleteFlag" column="REVIEW_DEL_FL"/>
	<result property="memberNo" column="MEMBER_NO"/>
	<result property="memberNickname" column="MEMBER_NICKNAME"/>
	<result property="orderMenuNo" column="ORDER_MENU_NO"/>
	<result property="menuNo" column="MENU_NO"/>
	<result property="menuName" column="MENU_NAME"/>
	<result property="likeCount" column="LIKE_COUNT"/>
	<result property="likeCheck" column="LIKE_CHECK"/>
	<result property="thumbnail" column="THUMBNAIL"/>
	
	<!-- 리뷰 이미지 리스트 -->
 	   <collection property="imageList"
        javaType="java.util.ArrayList" ofType="ReviewImage"
        select="selectImageList"
        column="REVIEW_NO"/>
</resultMap>

<!-- ReviewImage resultMap -->
<resultMap type="ReviewImage" id="reviewImage_rm">
	   <id property="reviewImageNo" column="REVIEW_IMG_NO"/>
	   <result property="imagePath" column="IMG_PATH"/>
	   <result property="imageRename" column="IMG_RENAME"/>
	   <result property="imageOrder" column="IMG_ORDER"/>
	   <result property="reviewNo" column="REVIEW_NO"/>
</resultMap>

<!-- 전체 리뷰 수 조회 -->
<select id="getListCount" parameterType="_int" resultType="_int">
SELECT COUNT(*) FROM "REVIEW"
WHERE REVIEW_DEL_FL='N'
</select>

<!-- 전체 리뷰 목록 조회 -->
<select id="selectReviewList" resultMap="review_rm">
SELECT REVIEW_NO, RATING, REVIEW_CONTENT, MEMBER_NO, MEMBER_NICKNAME, MENU_NO, MENU_NAME,
	TO_CHAR(REVIEW_DATE, 'YYYY-MM-DD') REVIEW_DATE,
 	(SELECT COUNT(*) FROM "LIKE" L
	  WHERE L.REVIEW_NO = R.REVIEW_NO) LIKE_COUNT,
	(SELECT IMG_PATH || IMG_RENAME FROM REVIEW_IMG I
	WHERE IMG_ORDER =0
	AND I.REVIEW_NO = R.REVIEW_NO) THUMBNAIL
FROM "REVIEW" R
JOIN "MEMBER" USING(MEMBER_NO)
JOIN "ORDER_MENU" USING(ORDER_MENU_NO)
JOIN "MENU" USING(MENU_NO)
WHERE REVIEW_DEL_FL='N'
ORDER BY REVIEW_NO DESC
</select>

<!-- 특정 메뉴 리뷰 수 조회 -->
<select id="getMenuReviewListCount" parameterType="_int" resultType="_int">
SELECT COUNT(*) FROM "REVIEW"
JOIN ORDER_MENU USING(ORDER_MENU_NO)
WHERE MENU_NO = #{menuNo}
AND REVIEW_DEL_FL='N'
</select>

<!-- 특정 메뉴 리뷰 목록 조회 -->
<select id="selectMenuReviewList" resultMap="review_rm">
SELECT REVIEW_NO, RATING, REVIEW_CONTENT, MEMBER_NO, MEMBER_NICKNAME, MENU_NO, MENU_NAME,
	TO_CHAR(REVIEW_DATE, 'YYYY-MM-DD') REVIEW_DATE,
 	(SELECT COUNT(*) FROM "LIKE" L
	  WHERE L.REVIEW_NO = R.REVIEW_NO) LIKE_COUNT,
	(SELECT IMG_PATH || IMG_RENAME FROM REVIEW_IMG I
	WHERE IMG_ORDER =0
	AND I.REVIEW_NO = R.REVIEW_NO) THUMBNAIL
FROM "REVIEW" R
JOIN "MEMBER" USING(MEMBER_NO)
JOIN "ORDER_MENU" USING(ORDER_MENU_NO)
JOIN "MENU" USING(MENU_NO)
WHERE REVIEW_DEL_FL='N'
AND MENU_NO = #{menuNo}
ORDER BY REVIEW_NO DESC
</select>

<!-- 리뷰 상세 조회 -->
<select id="selectReviewDetail" resultMap="reviewDetail_rm">
SELECT REVIEW_NO, RATING, REVIEW_CONTENT, MEMBER_NO, MEMBER_NICKNAME, MENU_NAME,
	TO_CHAR(REVIEW_DATE, 'YYYY-MM-DD') REVIEW_DATE,
 	(SELECT COUNT(*) FROM "LIKE" L
	  WHERE L.REVIEW_NO = R.REVIEW_NO) LIKE_COUNT,
	(SELECT IMG_PATH || IMG_RENAME FROM REVIEW_IMG I
	WHERE IMG_ORDER =0
	AND I.REVIEW_NO = R.REVIEW_NO) THUMBNAIL,
	(SELECT COUNT(*) FROM "LIKE" L WHERE L.REVIEW_NO = R.REVIEW_NO AND MEMBER_NO = #{memberNo}) LIKE_CHECK
FROM "REVIEW" R
JOIN "MEMBER" USING(MEMBER_NO)
JOIN "ORDER_MENU" USING(ORDER_MENU_NO)
JOIN "MENU" USING(MENU_NO)
WHERE REVIEW_DEL_FL='N'
AND REVIEW_NO = #{reviewNo}
</select>

<!-- 리뷰 상세 조회시 이미지 목록 조회 -->
<select id="selectImageList" resultMap="reviewImage_rm">
SELECT * FROM REVIEW_IMG
WHERE REVIEW_NO = #{reviewNo}
ORDER BY IMG_ORDER
</select>

<!-- 나의 리뷰 목록 조회 -->
<select id="selectMyReview" resultMap="review_rm">
SELECT REVIEW_NO, RATING, REVIEW_CONTENT, MEMBER_NICKNAME, MENU_NAME,
   TO_CHAR(REVIEW_DATE, 'YYYY-MM-DD') REVIEW_DATE,
    (SELECT COUNT(*) FROM "LIKE" L
     WHERE L.REVIEW_NO = R.REVIEW_NO) LIKE_COUNT,
   (SELECT IMG_PATH || IMG_RENAME FROM REVIEW_IMG I
   WHERE IMG_ORDER =0
   AND I.REVIEW_NO = R.REVIEW_NO) THUMBNAIL
FROM "REVIEW" R
JOIN "MEMBER" USING(MEMBER_NO)
JOIN "ORDER_MENU" USING(ORDER_MENU_NO)
JOIN "MENU" USING(MENU_NO)
WHERE REVIEW_DEL_FL='N'
AND MEMBER_NO = #{memberNo}
ORDER BY REVIEW_DATE DESC
</select>

<!-- 좋아요 수 증가 -->
<insert id="reviewLikeUp">
INSERT INTO "LIKE"
VALUES (#{reviewNo}, #{memberNo})
</insert>

<!-- 좋아요 수 감소 -->
<delete id="reviewLikeDown">
DELETE FROM "LIKE"
WHERE REVIEW_NO =#{reviewNo}
AND MEMBER_NO=#{memberNo}
</delete>

<!-- 리뷰 삭제 -->
<update id="deleteReview">
UPDATE "REVIEW" SET
REVIEW_DEL_FL = 'Y'
WHERE REVIEW_NO=#{reviewNo}
</update>

<!-- 리뷰 이미지 삭제 -->
<delete id="deleteReviewImg">
DELETE FROM "REVIEW_IMG"
WHERE REVIEW_NO=#{reviewNo}
</delete>

<!-- 리뷰 작성시 기본 정보 -->
<select id="reviewWriteInfo" parameterType="_int" resultMap="review_rm">
SELECT ORDER_MENU_NO, MENU_NAME, ORDER_NO, PACKAGE_NAME
FROM ORDER_MENU
JOIN "ORDER" USING(ORDER_NO)
JOIN "MENU" USING(MENU_NO)
JOIN "PACKAGE" USING(PACKAGE_NO)
WHERE ORDER_MENU_NO = #{orderMenuNo}
</select>

<!-- 리뷰 작성 -->
<insert id="reviewWrite" parameterType="Review" useGeneratedKeys = "true">
<selectKey keyProperty="reviewNo" resultType="_int" order="BEFORE">
SELECT SEQ_REVIEW_NO.NEXTVAL FROM DUAL
</selectKey>
INSERT INTO "REVIEW"
VALUES(#{reviewNo}, #{rating}, #{reviewContent}, DEFAULT, DEFAULT, #{memberNo}, #{orderMenuNo})
</insert>

<!-- 리뷰 첨부 이미지 삽입 -->
<insert id="insertReviewImageList" parameterType="list">
INSERT INTO REVIEW_IMG
SELECT SEQ_REVIEW_IMG_NO.NEXTVAL REVIEW_IMG_NO, A* FROM
<foreach collection="list" item="img"
	open="(" close = ") A" separator = "UNION ALL">
.
	SELECT #{img.imagePath} IMG_PATH,
			#{img.imageReName} IMG_RENAME,
			#{img.imageOrder} IMG_ORDER,
			#{img.reviewNo} REVIEW_NO
	FROM DUAL
</foreach>
</insert>
</mapper>