<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="salesManageMapper">
	
	<select id="monthOrderCount" resultType="int">
		SELECT  COUNT(ORDER_NO) AS ORDER_COUNT
		FROM "ORDER"
		WHERE ORDER_DATE IS NOT NULL
		GROUP BY SUBSTR(ORDER_DATE,1,5)
		ORDER BY  SUBSTR(ORDER_DATE,1,5) ASC
	</select>
	
	<select id="monthOrderPrice" resultType="int">
		SELECT  SUM(ORDER_PRICE) AS MONTH_ORDER_PRICE 
		FROM "ORDER"
		WHERE ORDER_DATE IS NOT NULL
		GROUP BY SUBSTR(ORDER_DATE,1,5)
		ORDER BY SUBSTR(ORDER_DATE,1,5) ASC
	</select>
	
	<select id="packageCount" resultType="int">
		SELECT COUNT(*) FROM "ORDER"
		GROUP BY PACKAGE_NO
		ORDER BY PACKAGE_NO
	</select>
	
	<select id="menuCount" resultType="int">
		SELECT COUNT(MENU_NO)
		FROM ORDER_MENU
		GROUP BY MENU_NO
		ORDER BY MENU_NO
	</select>
	
</mapper>